.mission-hero{

height:40vh;

background:
linear-gradient(
135deg,
#14532d,
#D4AF37
);

display:flex;
justify-content:center;
align-items:center;

text-align:center;

color:white;
}

.mission-grid{

max-width:1200px;
margin:60px auto;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:25px;
}

.mission-card{

background:white;

padding:30px;

border-radius:25px;

box-shadow:
0 15px 35px rgba(0,0,0,.08);

text-align:center;
}