.navbar{

position:fixed;

top:0;
left:0;

width:100%;

z-index:1000;

backdrop-filter:blur(20px);

background:rgba(255,255,255,.9);

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 5%;

box-shadow:
0 5px 20px rgba(0,0,0,.08);

}

.logo{

font-size:2rem;
font-weight:800;

color:var(--primary);

}

.nav-links{

display:flex;
gap:25px;

list-style:none;

}

.nav-links a{

text-decoration:none;

font-weight:600;

color:#334155;

transition:.3s;

}

.nav-links a:hover{

color:var(--primary);

}

@media(max-width:900px){

.navbar{

flex-direction:column;

padding:15px;

}

.nav-links{

margin-top:15px;

flex-wrap:wrap;

justify-content:center;

}

}
