.navbar{

position:fixed;

top:0;
left:0;

width:100%;

padding:18px 50px;

display:flex;
justify-content:space-between;
align-items:center;

background:rgba(255,255,255,.92);

backdrop-filter:blur(20px);

box-shadow:
0 10px 25px rgba(0,0,0,.08);

z-index:9999;

}

.logo{

font-size:2rem;
font-weight:800;

color:#14532D;

}

.nav-links{

display:flex;
align-items:center;

gap:20px;

list-style:none;

flex-wrap:wrap;

}

.nav-links a{

text-decoration:none;

color:#1e293b;

font-weight:600;

transition:.3s;

}

.nav-links a:hover{

color:#14532D;

}

.nav-links .active{

color:#14532D;

}

/* Mobile */

.menu-toggle{

display:none;

font-size:2rem;

cursor:pointer;

}

@media(max-width:1000px){

.menu-toggle{

display:block;

}

.nav-links{

display:none;

position:absolute;

top:80px;
left:0;

width:100%;

background:white;

padding:25px;

flex-direction:column;

box-shadow:
0 10px 30px rgba(0,0,0,.1);

}

.nav-links.show{

display:flex;

}

}
.logo{
    display:flex;
    flex-direction:column;
}

.logo span{
    font-size:2rem;
    font-weight:800;
    color:#14532D;
    letter-spacing:2px;
}

.logo small{
    font-size:.75rem;
    color:#64748B;
    letter-spacing:1px;
}.logo{
    display:flex;
    flex-direction:column;
}

.logo span{
    font-size:2rem;
    font-weight:800;
    color:#14532D;
    letter-spacing:2px;
}

.logo small{
    font-size:.75rem;
    color:#64748B;
    letter-spacing:1px;
}