.robo-hero{

height:50vh;

background:
linear-gradient(
135deg,
#0f172a,
#14532d
);

display:flex;
justify-content:center;
align-items:center;

text-align:center;

color:white;
}

.robo-hero h1{

font-size:4rem;
}

.robot-dashboard{

max-width:1200px;
margin:60px auto;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:25px;
}

.robot-card{

background:white;

padding:30px;

border-radius:25px;

box-shadow:
0 15px 35px rgba(0,0,0,.08);

text-align:center;
}

.robot-status{

font-size:2rem;
font-weight:bold;

color:#14532d;
}

.robot-face{

font-size:6rem;

animation:floatRobot 3s infinite ease-in-out;
}

@keyframes floatRobot{

0%{transform:translateY(0);}
50%{transform:translateY(-15px);}
100%{transform:translateY(0);}
}